<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="test.actionSet">
         <menu
               label="CSafeRefactor"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="Start"
               icon="icons/sample.gif"
               class="csaferfactor.actions.StartAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="test.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   
   
<extension id="saferefactormarker" point="org.eclipse.core.resources.markers"/>
<extension id="saferefactorproblem" point="org.eclipse.core.resources.markers">
   <super type="org.eclipse.core.resources.problemmarker"/>
   <super type="csaferefactor.saferefactormarker"/>
</extension>
   
<!--<extension
    id="continousrefactoring.slicemarker"
    name="GTASM Slice"
    point="org.eclipse.core.resources.markers">
  <super
    type="org.eclipse.core.resources.textmarker">
  </super>
</extension>

<extension
      point="org.eclipse.ui.editors.annotationTypes">
   <type
         markerType="continousrefactoring.slicemarker"
         name="continousrefactoring.slicemarker">
   </type>
</extension>

<extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="continousrefactoring.slicemarker"
         colorPreferenceKey="continousrefactoring.slice.color"
         colorPreferenceValue="192,255,192"
         contributesToHeader="false"
         highlightPreferenceKey="continousrefactoring.slice.highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="GTASM Slice Marker"
         overviewRulerPreferenceKey="continousrefactoring.slice.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="continousrefactoring.slice.text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="continousrefactoring.slice.ruler"
         verticalRulerPreferenceValue="true">
   </specification>
</extension>

<extension
      id="test.vtclparsermarker"
      name="VTCL Parsing Problems"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.problemmarker">
   </super>
   <persistent
         value="true">
   </persistent>
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
</extension>-->

<!--   <extension point= "org.eclipse.ui.editors.markerUpdaters"> 
    <updater 
        id="org.eclipse.jdt.ui.markerUpdaters.JavaSearchMarkerUpdater" 
        class="org.eclipse.jdt.internal.ui.search.JavaSearchMarkerUpdater" 
        markerType="org.eclipse.search.searchmarker"> 
    </updater> 
</extension>-->
 
<!--<extension
    id="org.eclipse.viatra2.slicemarker"
    name="GTASM Slice"
    point="org.eclipse.core.resources.markers">
  <super
    type="org.eclipse.core.resources.textmarker">
  </super>
</extension>
<extension
      point="org.eclipse.ui.editors.annotationTypes">
   <type
         markerType="org.eclipse.viatra2.slicemarker"
         name="org.eclipse.viatra2.slicemarker">
   </type>
</extension>

<extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="org.eclipse.viatra2.slicemarker"
         colorPreferenceKey="org.eclipse.viatra2.slice.color"
         colorPreferenceValue="192,255,192"
         contributesToHeader="false"
         highlightPreferenceKey="org.eclipse.viatra2.slice.highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="GTASM Slice Marker"
         overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="org.eclipse.viatra2.slice.text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="org.eclipse.viatra2.slice.ruler"
         verticalRulerPreferenceValue="true">
   </specification>
</extension> -->

</plugin>
